/*
font-family: "Open Sans", sans-serif;*/
body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
}
header{
    background-color: rgb(207, 84, 84);
}

header h1{
    color: white;
    font-weight: 100;
    font-style: italic;
    /* display: inline flex; */
    display: inline-block;
    position: relative;
    bottom: 35px;
}

nav{
    background-color: pink;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav ul li{
    flex-grow: 1;
}

nav ul li a{
    color: white;
}